.pokemon-detail-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;

  .go-back {
    display: flex;
    align-self: center;
    font-weight: bold;
    font-size: 96px;
    padding-top: 25px;
    color: #ea5d60;
    cursor: pointer;
  }

  .pokemon-detail-info {
    flex-direction: column;
    width: 600px;

    .id {
      font-weight: bold;
      font-size: 42px;
      margin: 4% 0 12%;
    }
    .name {
      text-align: center;
      font-weight: bold;
      font-size: 96px;
      margin-bottom: 12%;
    }
  }

  .types-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10%;

    .type1, .type2 {
      width: 40px;
      height: 40px;
      padding: 1%;
      border-radius: 50%;
      align-items: center;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
      margin-bottom: 5%;
      margin-right: 5%;
      overflow: hidden;
    }

    .type1 img, .type2 img {
      width: 100%;
      filter: invert(100%);
    }

    .type1:hover, .type2:hover {
      display: flex;
      color: #e2e2e2;
      font-size: 20px;
      font-weight: bold;
      border-radius: 2px;
      align-items: center;
      width: 100px;

      img {
        width: 40%;
        margin-right: 2px;
        margin-left: 4px;
      }
    }
  }
}
  .pokemon-detail-more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tab-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .tab-buttons button {
    border: none;
    border-radius: 5px;
    color: #e2e2e2;
    cursor: pointer;
    font: bold 16px sans-serif;
    margin: 0 10px;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
  }

  .tab-buttons button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 2px #ff1a1a;
  }

  .tab-buttons button:focus {
    outline: none;
    color: #ff1a1a;
  }

  .tab-content {
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .tab-content .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
  }

  .tab-content .description .detail-description {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 400px;
  }

  .tab-content .description .detail-description .languages {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
  }

  .tab-content .description .detail-description .languages button:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 1px 1px #ff1a1a;
  }

  .tab-content .description .detail-description .languages button:focus {
    outline: none;
    color: #ff1a1a;
  }

  .tab-content .description .experience,
  .tab-content .description .height,
  .tab-content .description .weight,
  .tab-content .description .ability {
    font-size: 20px;
    margin-bottom: 10px;
    width: 300px;
    margin-left: 25px;
  }

  .tab-content .description .experience span,
  .tab-content .description .height span,
  .tab-content .description .weight span,
  .tab-content .description .ability span {
    font-weight: bold;
  }

  .tab-content .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
  }

  .tab-content .stats .stat-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    width: 360px;
  }

  .tab-content .stats .stat-item .stat-name {
    width: 120px;
  }

  .tab-content .stats .stat-item .stat-bar {
    height: 20px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .tab-content .stats .stat-item .stat-bar-full {
    height: 20px;
    border-radius: 5px;
    background-color: #17171b27;
    margin: 0 10px;
    position: relative;
    width: 200px;
  }

  .tab-content .stats .stat-item .stat-value {
    font-weight: bold;
    width: 40px;
  }

  .evolution {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    }
    
    .evolution .ability-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 300px;
    }
    
    .evolution .ability-item .ability-name {
    width: 150px;
    }
    
    .pokemon-detail-image-container {
    display: flex;
    flex-direction: column;
    background: url(/assets/decos/pokeball.svg) no-repeat 200px 70px;
    background-size: 650px;
    width: 55vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    }
    
    .pokemon-detail-image-container .image-container {
    height: 60vh;
    }
    
    .pokemon-detail-image-container .pokemon-image {
    width: 80%;
    margin-top: 30%;
    }
    
    .pokemon-detail-image-container .prev-next-pokemon-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    margin-top: 9%;
    }
    
    .pokemon-detail-image-container .prev-next-pokemon-container .prev {
    background-color: #e2e2e2;
    padding: 10px;
    width: 250px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #747476;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    }
    
    .pokemon-detail-image-container .prev-next-pokemon-container .next {
    background-color: #ea5d60;
    padding: 10px;
    width: 250px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #e2e2e2;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    }

